@import "tailwindcss";


@font-face {
    font-family: "The Witcher";
    src: url("./thewitcher-font/Thewitcher.ttf") format("truetype");
}

@font-face {
    font-family: "PT Sans";
    src: url("./PT_Sans/PTSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

.scale-on-active:active {
    scale: 0.95;
}

.witcher-font {
    font-family: "The Witcher";
}


.pt-sans-font {
    font-family: "PT Sans";
}

.playwrite-font {
    font-family: "Playwrite AU TAS";
}

.contracts-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
    overflow: auto;
}


.side-bar-link {
    border: 2px solid ;
    padding: 16px;
    font-size: 18px;
    transition: 400ms ease;
    position: relative;
    border-radius: 4px;
}

.side-bar-link:hover {
    color: orange;
    cursor: pointer;
    border-color: orange;
}


.monster-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}